.modal-wrapper {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-container {
    margin-top: 3%;
}

@media (max-height: 480px) {

    .modal-container {
        margin-top: 3%;
    }

}

@media (max-height: 440px) {

    .modal-container {
        margin-top: 1%;
    }

}

@media (max-width: 576px) {
    #dthLink {
        margin: 20px;
        width: 90%;
    }
}